---
# vars for ansible_lint

# mal_debug: true
# mal_backup_conf: false

# # my_variables
# mal_owner: admin
# my_mal_rules_dir: "/home/{{ mal_owner }}/.ansible/ansible-lint-rules"
# my_mal_config_path: "/home/{{ mal_owner }}/.ansible/.ansible-lint"

# # install
# mal_packages_install: true
# # mal_pip_executable: "{{ pip_executable }}"

# # links
# mal_links:
#   - src: "/home/{{ mal_owner }}/.local/bin/ansible-lint"
#     dest: "/home/{{ mal_owner }}/bin/ansible-lint"
#     force: true
#   - src: "{{ mal_source_dest }}/ansible-lint/lib/ansiblelint/rules"
#     dest: "/home/{{ mal_owner }}/.ansible/ansible-lint-rules"
#     force: true

# # config
# mal_rulesdir:
#   - "{{ my_mal_rules_dir }}"
# mal_exclude_paths: []
# mal_skip_list: []
# mal_tags: []

# mal_config:
#   - path: "{{ my_mal_config_path }}"
#     template: ansible-lint-default.j2
#     owner: "{{ mal_owner }}"
#     group: "{{ mal_owner }}"
#     mode: '0644'
#     config:
#       verbosity: 1
#       quiet: false
#       parseable: true
#       use_default_rules: true
#       rulesdir: "{{ mal_rulesdir }}"
#       exclude_paths: "{{ mal_exclude_paths }}"
#       skip_list: "{{ mal_skip_list }}"
#       tags: "{{ mal_tags }}"

# # source
# mal_source_install: true
# # mal_source_version: "4.1.1a0"
# # mal_source_checksum: "sha1:e397883c8747053b4889fa35aed640daa81e02c5"
# mal_source_version: "4.1.0"
# mal_source_checksum: "sha1:4b6a4b1ce7cd5fe1659b31d76ce182bc199123c2"

# EOF
...
